# Generated with:
# dh_make --single --indep --copyright mit  --file ../sslfie_0.1.tar.bz2

Source: sslfie
Section: utils
Priority: optional
Maintainer: Michael Kropat <mail@michael.kropat.name>
Build-Depends: debhelper (>= 8.0.0), pandoc
Standards-Version: 3.9.4
Homepage: https://github.com/mkropat/sslfie
Vcs-Git: https://github.com/mkropat/sslfie.git
Vcs-Browser: https://github.com/mkropat/sslfie

Package: sslfie
Architecture: all
Depends: dialog, openssl, ${misc:Depends}
Description: generate self-signed x.509 certificates for use with SSL/TLS
